.body {
	background: url(../img/background/first_section.png) center center no-repeat fixed;
	background-size: cover;
	font-family: 'Helvetica Neue';
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1420px;
	margin: 0 auto;
	padding: 0 10px;
}

/* HEADER */

.header {
	margin: 16px 0;
}
.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
}
.logo {
}
@media (max-width: 400px) {
	.logo {
		width: 250px;
	}
}
@media (max-width: 340px) {
	.logo {
		width: 200px;
	}
}
.header__menu {
	display: none;
}
@media (min-width: 1150px) {
	.header__menu {
		display: block;
	}
	.menu {
	}
	.menu__list {
		display: flex;
	}
	.menu__item {
		margin: 0 5px 0 0;
		padding: 25px 50px;
		position: relative;
		background-color: #2C2E35;
		border-radius: 10px;
		transition: background-color .15s;
	}
	.menu__item:last-child {
		margin: 0;
	}
	.menu__item:hover {
		background-color: #07B891;
	}
	.menu__item:hover .menu__link {
		color: #fff;
	}
	.menu__item:hover .sub-menu {
		display: block;
	}
	.menu__item-active {
		background-color: #07B891;
	}
	.menu__link {
		color: #07B891;
		transition: color .15s;
	}
	.menu__link-active {
		color: #fff;
	}
	.menu__link,
	.sub-menu__link {
		font-size: 18px;
		font-weight: 550;
	}
	.sub-menu {
		display: none;
		position: absolute;
		top: 60px;
		left: 0px;
	}
	.sub-menu__list {
		margin: 13px 0 0 0;
		padding: 20px 0;
		background-color: #2C2E35;
		border-radius: 10px;
	}
	.sub-menu__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 390px;
		padding: 10px 30px;
	}
	.sub-menu__link {
		color: #fff;
		transition: all .15s;
	}
	.sub-menu__item:hover .sub-menu__link {
		color: #ffffff7c;
	}
}
.header__menu-mobile {
	display: none;
}
@media (max-width: 1149px) {
	.header__menu-mobile {
		display: block;
	}
	.header__menu-button {
		padding: 20px;
		background-color: #2C2E35;
		border-radius: 10px;
	}
	.header__menu-img {
	}
}

/* MAIN */

.main {
	flex: 1 1 auto;
}

/* WELCOME */

.welcome {
}
.container {
}
.welcome__content {
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: calc(100vh - 100px);
}
.welcome__cta {
	max-width: clamp(300px, 48.6vw, 700px);
	margin: 0 0 60px 0;
}
.welcome__company-name {
	font-size: clamp(18px, 2vw, 28px);
	font-weight: 700;
	font-style: italic;
	color: #FFFFFFCC;
	margin: 0 0 21px 0;
}
.welcome__description {
	font-weight: 700;
	font-size: clamp(24px, 3.3vw, 48px);
	color: #FFFFFF;
	margin: 0 0 60px 0;
}
.welcome__button {
	background-color: #fff;
	padding: 10px;
	border-radius: clamp(10px, 1.4vw, 20px);
	display: flex;
	align-items: center;
}
.welcome__button-name {
	font-weight: 700;
	font-size: clamp(16px, 2vw, 28px);
	padding: 0 clamp(32px, 36vw, 50px) 0 clamp(23px, 4.9vw, 70px);
	white-space: nowrap;
}
.welcome__button-img {
	background-color: #07B891;
	padding: clamp(15px, 2vw, 27px);
	border-radius: clamp(5px, 0.7vw, 10px);
}