.body {
	background: url(../img/background/first_section.png) center center no-repeat fixed;
	background-size: cover;
	font-family: 'Helvetica Neue';
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	contain: paint;
}
.container {
	max-width: 1420px;
	margin: 0 auto;
	padding: 0 10px;
}

/* HEADER */

.header {
	margin: 16px 0;
}
.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
}
.logo {
}
@media (max-width: 400px) {
	.logo {
		width: 250px;
	}
}
@media (max-width: 340px) {
	.logo {
		width: 200px;
	}
}
.header__menu {
	display: none;
}
@media (min-width: 1150px) {
	.header__menu {
		display: block;
	}
}
.menu {
}
.menu__list {
	display: flex;
}
.menu__item {
	margin: 0 5px 0 0;
	padding: 25px 50px;
	position: relative;
	background-color: #2C2E35;
	border-radius: 10px;
	transition: background-color .15s;
}
.menu__item:last-child {
	margin: 0;
}
.menu__item:hover {
	background-color: #07B891;
}
.menu__item:hover .menu__link {
	color: #fff;
}
.menu__item:hover .sub-menu {
	display: block;
}
.menu__item-active {
	background-color: #07B891;
}
.menu__link {
	color: #07B891;
	transition: color .15s;
}
.menu__link-active {
	color: #fff;
}
.menu__link,
.sub-menu__link {
	font-size: 18px;
	font-weight: 550;
}
.sub-menu {
	display: none;
	position: absolute;
	top: 60px;
	left: 0px;
}
.sub-menu__list {
	margin: 13px 0 0 0;
	padding: 20px 0;
	background-color: #2C2E35;
	border-radius: 10px;
	width: 390px;
}
.sub-menu__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px;
}
.sub-menu__link {
	color: #fff;
	transition: all .15s;
}
.sub-menu__item:hover .sub-menu__link {
	color: #ffffff7c;
}
.header__menu-mobile {
	display: none;
}
@media (max-width: 1149px) {
	.header__menu-mobile {
		display: block;
		overflow: hidden;
	}
	.header__menu-button {
		padding: 20px;
		background-color: #2C2E35;
		border-radius: 10px;
	}
	.header__menu-img {
	}
	.menu-mobile {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		background-color: #24262C;
		transition: transform .4s;
		overflow: auto;
	}
	.menu-mobile__hide {
		transform: translate(100%, 0);
	}
	.menu-mobile__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 16px 0;
	}
	.menu-mobile__content {
		margin: 46px 0 0 0;
	}
	.menu-mobile__list {
	}
	.menu-moblie__item {
		padding: 20px;
		margin: 0 0 5px 0;
		text-align: center;
	}
	.menu-moblie__item:first-child {
		text-align: left;
	}
	.menu-mobile__link:first-child {
		margin: 0 0 10px 0;
	}
	.menu-mobile__line {
		width: 100%;
		border: 0.5px solid #FFFFFF1A;
		margin-top: 20px;
	}
	.sub-menu-mobile {
	}
	.sub-menu-mobile__list {
	}
	.sub-menu-mobile__item {
		padding: 16px 0;
	}
	.sub-menu-mobile__item:last-child {
		padding: 16px 0 0 0;
	}
	.sub-menu-mobile__link {
	}
	.sub-menu-mobile__img {
	}
}

/* MAIN */

.main {
	flex: 1 1 auto;
}

/* WELCOME */

.welcome {
}
.container {
}
.welcome__content {
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: calc(100vh - 100px);
}
.welcome__cta {
	max-width: clamp(300px, 48.6vw, 700px);
	margin: 0 0 100px 0;
}
.welcome__company-name {
	font-size: clamp(18px, 2vw, 28px);
	font-weight: 700;
	font-style: italic;
	color: #FFFFFFCC;
	margin: 0 0 21px 0;
}
.welcome__description {
	font-weight: 700;
	font-size: clamp(24px, 3.3vw, 48px);
	color: #FFFFFF;
	margin: 0 0 60px 0;
}
.welcome__button {
	background-color: #fff;
	padding: 10px;
	border-radius: clamp(10px, 1.4vw, 20px);
	display: flex;
	align-items: center;
}
.welcome__button-name {
	font-weight: 700;
	font-size: clamp(16px, 2vw, 28px);
	padding: 0 clamp(32px, 36vw, 50px) 0 clamp(23px, 4.9vw, 70px);
	white-space: nowrap;
	color: #000000;
}
.welcome__button-img {
	background-color: #07B891;
	padding: clamp(15px, 2vw, 27px);
	border-radius: clamp(5px, 0.7vw, 10px);
}

/* ABOUT */

.about {
	background-color: #24262C;
	border-radius: clamp(15px, 2vw, 30px);
}
.about__content {
	padding: 110px 0;
}
@media (max-width: 640px) {
	.about__content {
		padding: 55px 0;
	}
}
.info {
}
.info__header {
	display: flex;
	margin-bottom: clamp(30px, 6.25vw, 90px);
}
@media (max-width: 640px) {
	.info__header {
		flex-direction: column;
		margin-bottom: clamp(30px, 6.25vw, 90px);
	}
}
.info__title {
	flex: 0 1 33%;
}
.info__text {
	color: #FFFFFF99;
	font-size: 18px;
}
@media (max-width: 640px) {
	.info__title {
		margin: 0 0 30px 0;
	}
}
.info__description {
	flex: 0 1 67%;
}
.description {
}
.description__title {
	font-size: clamp(24px, 3.3vw, 48px);
	font-weight: 700;
	color: #FFFFFF;
}
.description__body {
	display: flex;
	margin: 60px 0 0 0;
}
@media (max-width: 640px) {
	.description__body {
		flex-direction: column;
		margin: 30px 0 0 0;
	}
}
.description__content {
	margin: 0 30px 0 0;
}
@media (max-width: 640px) {
	.description__content {
		flex-direction: column;
		margin: 0;
	}
}
.description__text {
	font-size: 18px;
	color: #FFFFFF99;
	margin-bottom: 20px;
	line-height: 110%;
}
.description__content:last-child .description__text:last-child {
	margin-bottom: 0;
}

.info__body {
	width: 100%;
}
@media(max-width: 600px) {
	.info__body {
		width: auto;
	}
}
.info__cards {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 -5px;
}
@media(max-width: 768px) {
	.info__cards {
		display: flex;
		margin: 0 auto;
	}
}
@media(max-width: 600px) {
	.info__cards {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}
}
.info__card {
	display: flex;
	margin: 0 0 5px 0;
	padding: 0 5px;
	flex: 1 1 33.333%;
}
@media(max-width: 768px) {
	.info__card {
		display: flex;
		margin: 0 0 10px 0;
		flex: 1 1 50%;
	}
}
@media(max-width: 600px) {
	.info__card {
		padding: 0;
	}
}
.card {

}
.card__item {
	display: flex;
	flex-direction: column;
	padding: 30px 20px;
	background-color: #2C2E35;
	border-radius: clamp(10px, 1.4vw, 20px);;
	color: #fff;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.info__card:first-child .card__item {
	color: #2C2E35;
	background-color: #07B891;
}
.card__count {
	
}
.card__number {
	font-size: 18px;
	z-index: 2;
}
.card__content {
	position: relative;
}
@media(max-width: 1150px) {
	.card__content {
		top: -50px;
	}
}
@media(max-width: 937px) {
	.card__content {
		top: -50px;
		left: -20px;
	}
}
@media(max-width: 863px) {
	.card__content {
		top: -50px;
		left: -30px;
	}
}
@media(max-width: 600px) {
	.card__content {
		top: -30px;
		left: 50px;
	}
}
@media(max-width: 444px) {
	.card__content {
		top: -25px;
		left: 0;
	}
}
.circle__body-fifth,
.circle__body-fourth,
.circle__body-third,
.circle__body-second,
.circle__body-first {
	position: relative;
	top: 150px;
	left: 150px;
}
.circle__body-second {
	left: 250px;
	top: 180px;
}
.circle__body-third {
	left: 200px;
	top: 250px;
}
.circle__body-fourth {
	left: 100px;
	top: 240px;
}
.circle__body-fifth {
	left: 20px;
	top: 290px;
}
.body-fifth__static,
.body-fourth__static,
.body-third__static,
.body-second__static,
.body-first__static {
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #07B891;
	border-radius: 50%;
}
.body-fifth__dynamic,
.body-fourth__dynamic,
.body-third__dynamic,
.body-second__dynamic,
.body-first__dynamic {
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #07B891;
	border-radius: 50%;
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
	  	transform: scale(1);
		background-color: #07B891;
	}
  
	100% {
		transform: scale(2);
		background-color: #07b89200;
	}
}
.card__info {
	display: flex;
	flex-direction: column;
	font-weight: 550;
	z-index: 2;
	margin: clamp(293px, 29vw, 425px) 0 0 0;
}
.card__statistics {
	font-size: 60px;
}
.card__description {
	font-size: 22px;
}
.card__img-first,
.card__img-second,
.card__img-thrid {
	position: absolute;
	z-index: 0;
	bottom: 0;
	right: 0;
}
.card__img-first {
	width: clamp(260px, 28vw, 417px);
}
.card__img-second {
	left: 0;
	justify-self: center;
	align-self: center;
	width: clamp(450px, 55.5vw, 784px);
}
.card__img-thrid {
	width: clamp(252px, 26vw, 377px);
}
@media(max-width: 768px) {
	.card__img-second {
		position: absolute;
		z-index: 0;
		width: clamp(450px, 80vw, 784px);
		bottom: 0;
		left: 0;
		right: 0;
		justify-self: center;
		align-self: center;
	}
}
@media(max-width: 600px) {
	.card__img-second {
		position: absolute;
		z-index: 0;
		width: clamp(500px, 100vw, 784px);
		bottom: 0;
		left: 0;
		right: 0;
		justify-self: center;
		align-self: center;
	}
}

/* EQUIPMENT */

.equipment {
	border-radius: clamp(15px, 2vw, 30px);
	background-color: #202227;
	margin: -50px 0 0 0;
}
.equipment__header {
	margin-bottom: clamp(30px, 6.25vw, 90px);
}
.equipment__title {
	position: sticky;
	top: 30px;
	height: min-content;
}
@media (max-width: 640px) {
	.equipment__title {
		position: initial;
	}
}
.equipment__description {
	font-size: clamp(22px, 2.5vw, 36px);
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 30px;
}
.equipment__text {

}
.equipment__cards {
	display: grid;
	grid-template-columns: repeat(2, minmax(250px, 1fr));
	grid-template-rows: repeat(3, minmax(600px, 700px));
	gap: 10px;
}
@media(max-width: 846px) {
	.equipment__cards {
		display: grid;
		grid-template-columns: repeat(1, minmax(250px, 1fr));
		grid-template-rows: repeat(4, clamp(550px, 48vw, 700px));
		gap: 10px;
	}
}
.equipment__card {
	background-color: #24262C;
	border-radius: clamp(10px, 1.4vw, 20px);
	display: flex;
	flex-direction: column;
}
.equipment__card-big {
	grid-column: span 2;
}
@media(max-width: 846px) {
	.equipment__card-big {
		grid-column: span 1;
	}
}
.equipment__card-header {
	margin: 30px 20px;
}
.equipment__card-info {
	font-size: 18px;
	color: #FFFFFF99;
}
.equipment__card-name {
	font-size: 26px;
	font-weight: 500;
	color: #fff;
	margin: 16px 0 0 0;
}
.equipment__card-body {
	width: 100%;
	height: 100%;
	background-color: #2C2E35;
	border-radius: inherit;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
}
.equipment__card-container {
	height: clamp(155px, 36vw, 525px);
	width: auto;
	display: flex;
}
.equipment__card-img {
	max-width: 100%;
	max-height: 100%;
}
.equipment__card-btn {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.card-btn {
}
.card-btn__link {
}
.card-btn__img {
}

/* ABOUT */

.about {
	margin: -50px 0 0 0;
}
.about__second {
	position: relative;
	z-index: 10;
}
.about__second .info__header {
	margin: 0;
}
.about__image-container {
	max-height: 700px;
	min-height: 400px;
	align-items: center;
	justify-content: center;
	display: flex;
	border-radius: clamp(15px, 2vw, 30px);
	overflow: hidden;
	margin: -50px 0 0 0;
}
.about__image {
	object-fit: cover;
}

/* SERVICES */

.services {
	background: #202227;
	border-radius: clamp(15px, 2vw, 30px);
	margin: -50px 0 0 0;
	z-index: 100;
	position: relative;
}

.services__content {
	padding: 110px 0;
}
@media (max-width: 640px) {
	.services__content,
	.collaborations__content {
		padding: 55px 0;
	}
}
.services__header .info__title {
	margin-bottom: 0;
}
.services__body {
}
.services__cards {
	display: grid;
	grid-template-columns: repeat(2, minmax(250px, 1fr));
	grid-template-rows: repeat(3, 400px);
	gap: 10px;
}
@media (max-width: 764px) {
	.services__cards {
		display: grid;
		grid-template-columns: repeat(1, minmax(250px, 1fr));
		grid-template-rows: repeat(6, minmax(300px, 400px));
		gap: 10px;
	}
}
.services__card {
}
.services__card-content {
	width: 100%;
	height: 100%;
	background: #24262C;
	border-radius: clamp(10px, 1.4vw, 20px);
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.services__card-header {
	display: flex;
	flex-direction: column;
}
.services__card-date {
	color: #FFFFFF99;
	font-size: 18px;
}
.services__card-name {
	font-size: 26px;
	font-weight: 550;
	margin: 20px 0 0 0;
	color: #fff;
}
.services__card-body {
	display: flex;
}
.services__card-description {
	font-size: 22px;
	font-weight: 400;
	color: #FFFFFF99;
}
.services__card-button {
	position: relative;
	right: -10px;
    bottom: -18px;
	align-self: end;
}

/* COLLABORATIONS */

.collaborations {
	background: #24262C;
	border-radius: clamp(15px, 2vw, 30px);
	margin: -50px 0 0 0;
	z-index: 200;
	position: relative;
}
@media (max-width: 640px) {
	.collaborations {
		margin: -25px 0 0 0;
	}
}
.collaborations__content {
	padding: 110px 0;
	display: flex;
	justify-content: space-between;
}
@media(max-width: 700px) {
	.collaborations__content {
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 640px) {
	.collaborations__content {
		padding: 55px 0;
	}
}
.collaborations__header {
	flex: 0 1 32%;
	display: inline-block;
}
.collaborations__title {
	margin: 0;
}
.collaborations__body {
	flex: 0 1 67%;
}
.collaborations__cards {
	display: grid;
	grid-template-columns: repeat(2, minmax(250px, 1fr));
	grid-template-rows: repeat(4, 400px);
	gap: 10px;
}
@media(max-width: 560px) {
	.collaborations__cards {
		display: grid;
		grid-template-columns: repeat(1, minmax(250px, 1fr));
		grid-template-rows: repeat(6, 400px);
		gap: 10px;
	}
}
.collaborations__card-item {
	background-color: #2C2E35;
	border-radius: clamp(10px, 1.4vw, 20px);
}
.collaborations__card-item:nth-child(4),
.collaborations__card-item:nth-child(5) {
	opacity: 0;
}
@media(max-width: 560px) {
	.collaborations__card-item:nth-child(4),
	.collaborations__card-item:nth-child(5) {
		display: none;
	}
}
.collaborations__card {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 30px 20px;
}
.collaborations__card-header {
}
.collaborations__card-number {
	font-size: 18px;
	color: #FFFFFF99;
}
.collaborations__card-body {
	margin: auto;
}
.collaborations__card-logo {
	max-width: 350px;
}
.collaborations__card-img {
	width: 100%;
}

/* FORM */

.form {
	background: #0BA785;
    border-radius: clamp(15px, 2vw, 30px) clamp(15px, 2vw, 30px) 0 0;
    margin: -50px 0 0 0;
    z-index: 300;
    position: relative;
}
.form__content {
	padding: 110px 0;
    display: flex;
}
@media (max-width: 700px) {
	.form__content {
		padding: 50px 0;
		display: flex;
		flex-direction: column;
	}
}
.form__aside {
	flex: 0 1 33%;
	margin: 0 0 30px 0;
}
.form__logo {
	max-width: clamp(160px, 21vw, 300px);
}
.form__logo img {
	width: 100%;
}
.form__main {
	flex: 0 1 67%;
	display: flex;
	flex-direction: column;
}
.form__header {
}
.form__title {
	font-size: clamp(24px, 3.3vw, 48px);
	color: #fff;
	font-weight: 500;
}
.form__description {
	font-size: clamp(18px, 1.6vw, 24px);
	color: #ffffff7c;
	margin: 20px 0 0 0;
}
.form__body {
	margin: clamp(30px, 4.2vw, 60px) 0 0 0;
}
.form__data {
}
.form__fields {
}
.form__inputs {
	
}
.form__list {
	display: flex;
	flex-wrap: wrap;
	margin: -5px;
}
.form__item {
	width: 50%;
	height: 100%;
	padding: 5px;
	position: relative;
}
@media(max-width: 569px) {
	.form__item {
		width: 100%;
		height: 100%;
		padding: 5px;
		position: relative
	}
}
.form__item:last-child {
	width: 100%;
}
.form__item:last-child .form__input {
	resize: none;
}
.form__label {
	position: absolute;
	transition: all .1s;
	left: clamp(15px, 2.5vw, 36px);
	top: calc(50% - 8px);
	right: 0;
	bottom: 0;
	height: 12px;
	width: min-content;
	font-weight: 500;
}
.form__input {
	width: 100%;
	padding: clamp(20px, 2.15vw, 31px) clamp(10px, 2.3vw, 33px);
	border-radius: clamp(10px, 1.4vw, 20px);
	font-size: 18px;
	background-color: #ffffff2c;
}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
	position: absolute;
	transition: all .1s;
	left: clamp(15px, 2.5vw, 36px);
	top: -4px;
	right: 0;
	bottom: 0;
	height: 12px;
}
.form__input:focus {
	background-color: #ffffff2c;
}
.form__checkbox {
	margin: 30px 0 0 0;
}
.checkbox__input {
	display: none;
}
.checkbox__input:checked + .checkbox__label::after {
	transform: scale(1);
	transition: all .1s;
}
.checkbox__label {
	font-size: clamp(16px, 1.25vw, 18px);
	color: #fff;
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	width: 100%;
}
.checkbox__label::before {
	content: '';
	flex: 0 0 24px;
	height: 24px;
	background-color: #0BA785;
	border: 1px solid #fff;
	border-radius: 5px;
	align-self: flex-start;
	margin: 0 10px 0 0;
}
.checkbox__label::after {
	content: '';
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: #fff;
	border-radius: 2.5px;
	transform: scale(0);
	transition: all .1s;
}
.form__actions {
	margin: 50px 0 0 0;
}
@media(max-width: 569px) {
	.form__actions .welcome__button {
		width: 100%;
		justify-content: space-between;
		display: flex;
	}
	.form__actions .welcome__button img {
		display: block;
		justify-self: flex-end;
	}
	.form__actions .welcome__button-name {
		margin: 0 auto;
	}
}

/* FOOTER CONTENT */

.footer {
	background: #0BA785;
	border-top: 0.5px solid #ffffff7e;
	padding: 110px 0 40px 0;
}
.footer .info__title {
	margin: 0;
}
.footer__content {
	padding: 0;
}
.footer__aside {

}
.footer__main {

}
.footer__body {

}
.footer__pages {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer__page {
	max-width: 250px;
}
.page {

}
.page__header {
	font-size: 24px;
	color: #fff;
	font-weight: 500;
}
.page__sections {
	margin: 16px 0 0 0;
}
.page__section {
	margin: 0 0 16px 0;
}
.page__link {
	font-size: 18px;
	color: #ffffff80;
	font-weight: 300;
}
.footer__credits {
	display: flex;
	flex-direction: column;
}
.footer__contacts {
	display: flex;
	justify-content: space-between;
	align-items:end;
	padding: 80px 0;
	flex-wrap: wrap;
}
.footer__number-phone {
	margin-bottom: 10px;
}
.footer__phone-link {
	color: #fff;
	text-decoration: underline #fff;
}
.footer__email {
	margin-bottom: 10px;
}
.footer__email-link {
	color: #fff;
	text-decoration: underline #fff;
}
.footer__developers {
	margin-bottom: 10px;
}
.footer__description {
	color: #fff;
	font-size: 13px;
	margin: 0 0 5px 0;
}
.footer__logo {
}
.footer__rights {
	text-align: center;
}
.rights {
	color: #fff;
}
.year {
}